html {
    min-height: 100vh;
    font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Roboto",
        "Cantarell", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

/* Customisations for Pico CSS */

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        --background-color-override: #181a1b;
        --background-color: var(--background-color-override);
    }
}

:root:not([data-theme="light"]),
:root:not([data-theme="dark"]) {
    --primary: #d81b60;
    --primary-hover: #e91e63;
    --primary-focus: rgba(216, 27, 96, 0.25);
    --primary-inverse: #FFF;
    --form-element-spacing-vertical: 0.25rem;
    --form-element-spacing-horizontal: 0.5rem;
}